<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>:: CoinScout ::</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="/css/bootstrap.css" rel="stylesheet">
        <link href="/css/styles.css" rel="stylesheet">
        <link href="/css/responsive.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body class="register">
        <header class="main-sidebar">
            <a href="/" class="head-logo"><img src="/img/logo.png" alt=""></a>
            <div class="coming-soon">
                <h3>Coming Soon</h3>
                <ul class="features">
                    <li><i class="fa fa-bar-chart fa-lg fa-fw"></i>Trading Signal Notification</li>
                    <li><i class="fa fa-file-text-o fa-lg fa-fw"></i>Portfolio & Coin Tracker</li>
                    <li><i class="fa fa-rocket fa-lg fa-fw"></i>ICO Tracker & Portfolio</li>
                    <li><i class="fa fa-check-circle-o fa-lg fa-fw"></i>Track Trades on all your exchange accounts</li>
                    <li><i class="fa fa-pie-chart fa-lg fa-fw"></i>Analytics & Industry Insights</li>
                </ul>
                <h3>Integrate seamlessly with your favourite exchanges</h3>
                <div class="testimonial">
                    <p>" It is already too hard to keep my employees from trading crypto. The Coin Scout platform will be a serious blow to our productivity - I can't firm them all? "</p>
                    <div class="quote">
                        <span class="quote-author">CEO of a really big Investment Bank</span>
                    </div>
                </div>
            </div>
        </header>
        <div class="content-wrapper">
            <p class="create-account"><span>Don't have an account yet?</span> <a href="./register">Sign Up</a></p>
            <section class="content">
                <div class="form reset">
                    <h1>Reset your password.</h1>
                    <p>You'll receive an email with instructions on how to reset your password.</p>
                    <form>
                        <div class="input-join">
                            <input type="email" class="form-control input-lg round" name="" placeholder="Email">
                        </div>
                        <button type="submit" class="btn btn-info btn-block btn-lg">Reset Password</button>
                    </form>
                </div>
            </section>
        </div>
        <script src="/js/jQuery-2.1.4.min.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/js/scripts.js"></script>
    </body>
</html>